body {
  font-family: 'Roboto', sans-serif;
  color: var(--textColor);
}

.btn {
  border: none;
  padding: 7px 18px;
  border-radius: 18px;
  color: var(--textColor);
}

.btn-primary {
  background: var(--accentColor);
  color: var(--baseColor);
}

.btn-secondary {
  border: 1px solid var(--shadowColor);
}